*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "Azeret Mono", monospace;
}
body{
    background: #FFFFFF;
    scroll-behavior: smooth;
}

.container-header{
    width: 100%;
    height: 110px;
    background-color: #FFFFFF;
  
}
.container-header .header{
    width: 100%;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   color: rgb(234, 152, 0);
}

.container-header .header button{
    width: 20%;
    height: 60px;
    font-size: 20px;
    color: wheat;
    background-color: #000000;
    font-family: serif;
    font-weight: bold;
    border-radius: 10px;
    border-color: rgb(43, 42, 42);
    transform: rotateX('angle');
}
 .header button:hover{
  background: #494848;
  transition: 1s;
 }
.container_menu{
    background-image: url(img/top-6-programming-languages-for-custom-software-development_1.png);
    width: 100%;
    height: 650px;
    padding: 20px;
}
.menu img{
  margin-left: 40%;
}
.menu h1{
    margin-left: 25%;
    font-size: 40px;
  }
  .menu p{
    margin-left: 20%;
    padding: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .menu button{
    margin-left: 40%;
    width: 14%;
    height: 55px;
    border-radius: 10px;
    background-color: black;
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px;
    margin-top: 40px;
  }

  .container_main{
    width: 100%;
    height: 1800px;
    background-color: #FFFFFF;
    padding: 200px;
  }
  .main{
    background-color: #FAFAFB;
    border-radius: 10px;
    height: 1500px;
    padding: 40px;
  }
  .main .main_h1{
    display: flex;
    justify-content: center;
    padding-top: 23px;
  }
  .main .pera_1{
    padding: 35px;
    font-weight: 500;
    font-size: 20px;
    font-family:  "Azeret Mono", monospace;
  }

  .main_div{
    box-shadow: 0px 2px 2px rgb(218, 218, 218);
    background: #FFFFFF;
    width: 95%;
    height: 350px;
    padding: 40px;
    border-radius: 10px;
    margin: 35px;
  }
  
  
  
.div button{
  width: 15%;
  height: 45px;
  margin-top: 15%;
  font-size: 20px;
}
.div img{
  float: right;
  width: 25%;
  padding: 5px;
}



  .main_2{
    text-align: center;
    padding: 50px;
   
  }
  .main_2 h1{
    padding: 10px;
    font-size: 40px;
  }
  
  .container_Youtub{
   width: 100%;
   top: 0;
  }
  .menu{
    padding: 100px;
  }
  .youtub_main{
   box-shadow: 0px 1px 1px rgb(42, 42, 42);
   border: 1px solid #524e4e;
   border-radius: 15px;
  }

  .youtub_main iframe{
    height: 700px;
    padding: 70px;
  }

  .container_card_h2{
    width: 100%;
    height: 100px;
    justify-items: center;
  }
  .container_card_h2 h2{
    font-size: 30px;
    padding: 20px;
  }

  .container_card{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 90px;
  }
  .container_card p{
    font-size: 19px;
  }
   .card-1{
    width: 30%;
    background-color: #FFF6F4;
    padding: 40px;
    height: 300px;
    border-radius: 30px;
    margin-left: 5%;
  }
  .card-1 h3,p,a{
    padding: 10px;
  }
  .card-1 a{
    color: black;
    font-weight: 900;
    font-size: 20px;
    padding-top: 90px;
  }
  .card-2{
    width: 30%;
    background-color:  #F2F6FE;
    padding: 40px;
    height: 300px;
    border-radius: 30px;
  }
  .card-2 h3{
    padding: 10px;
  }
  .card-2 a{
    color: black;
    font-weight: 900;
    font-size: 20px;
  }
  .card-3{
    width: 30%;
    background-color: #FFFDF2;
    padding: 40px;
    height: 300px;
    border-radius: 30px;
  }
  .card-3 h3{
    padding: 10px;
  }
  .card-3 a{
    color: black;
    font-weight: 900;
    font-size: 20px;
  }
  
  .container_h3{
    text-align: center;
    font-size: 20px;
  }
  .container_react{
    width: 100%;
    height: 1000px;
    padding: 130px;
    
  }
  .react_div{
    margin: 20px;
    padding: 30px;
    box-shadow: 0px 5px 5px rgb(218, 218, 218);
    border-radius: 20px;
    border: 1.0px solid #767676;
  }


  .container_need{
    text-align: center;
    padding: 100px;
  }
  .need_img{
    background-image: url(img/handshake.jpg);
    height: 300px;
    border-radius: 10px;
    padding: 50px;
  }
  .need h1{text-align: center;
    color: #FFFFFF;
  }
  .need-pera{
    color: #FFF;
    padding: 30px;
  }
  .need input{
   min-width: 600px;
   box-sizing: border-box;
   border-radius: 8px;
   background: rgb(255,255, 255);
   padding: 20px;
   font-weight: 600px;
  }
  .need label{ 
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255,255, 255);
    font-size: 20px;
    padding: 16px;
    font-weight: 600;
    margin: 10px;
  }
  #section-footer{
    width: 100%;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33,0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-content{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 10px;
  }
  .footer-cdn{
    margin: 50px;
  }
  .footer-cdn ul{
    display: flex;
    font-size: 35px;
    color: #009DFF;
    list-style-type: none;
  }
  .footer-cdn ul li i{
    margin: 5px;
  }

    
  
  @media (min-width:300px) and (max-width:600px) {
    .container-header {
      height: 70px;
    }
  
    .container-header .header {
     padding: 0;
     margin: 0;
     padding: 15px;
    }
  
    .container-header .header button {
      width: 35%;
      height: 40px;
      font-size: 10px;
    }
  .container_menu{
    height: 300px;
   text-align: center; 
}
    .menu {
      padding: 0;
      margin: 0;
    }
  
    .menu img {
      padding: 0;
      margin: 0;
      width: 80px;
      height: 90px;
      object-fit: cover;
    }
  
    .menu h1, .menu p {
      font-size: 10px;
      padding: 10px;
      margin-left: 10px;
    }
  
    .menu button {
      margin-left: 0;
      width: 60%;
      height: 45px;
      font-size: 16px;
    }
  

    .container_main {
      padding: 5px;
      width: 100%;
      height: 270svh;
    }
    
  /*  */


    .main {
      padding: 20px;
      height: auto;
      margin: 15px;
    }
  
    .main .main_h1 {
      font-size: 20px;
      padding: 4px;
      gap: 5px;
    }
  
    .main .pera_1 {
      font-size: 13px;
      padding: 5px;
      
    }
    .div h1{
      font-size: 19px;
    }
    .div p{
      padding: 5px;
      font-size: 13px;
    }
  
    .main_div {
      height: 440px;
      padding: 10px;
      margin: 5px 0;
    }
  
    .div button {
      width: 100%;
      height: 40px;
      margin-top: 20px;
      font-size: 16px;
    }
  
    .div img {
      float: none;
      width: 100%;
      height: 240px;
      object-fit: cover;
    }
  /*  */
  .container_Youtub {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    }

  .main_2{
   padding: 0;
   margin: 0;
  }
    .main_2 h1 {
      font-size: 20px;
    }
  
    .youtub_main iframe {
      height: 300px;
      padding: 20px;
      width: 100%;
    }

    .container_card_h2{
      height: 150px;
      width: 100%;
      text-align: center;
    }
 
    .container_card {
      flex-direction: column;
      padding: 15px;
    }
  
    .card-1, .card-2, .card-3 {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }
  

    .container_react {
      padding: 15px;
      height: auto;
    }
   /*  */


    .container_need{
      padding: 5px;
    }
 
    .need_img {
      height: 250px;
      width: 100%;
    
    }
  
    .need input {
      min-width: 20%;
      height: 30px;
      margin: 20px;
    }
  
    .need label {
    font-size: 15px;
    width: 20%;
    height: 20px;
    }
    .need h1{
      font-size: 20px;
    }
  .need-pera{
   font-size: 10px;
   padding: 5px;
  }

  /*  */
    #section-footer {
      flex-direction: column;
      height: 50px;
      padding: 20px;
      text-align: center;
    }
  
    .footer-content {
      font-size: 18px;
      margin-left: 0;
    }
  
  }

  @media (min-width:600px) and (max-width:1024px){
    .container-header{
      width: 100%;
      height: 90px;
  }
  .container-header .header{
      width: 100%;
      padding: 10px 10px;
    
  }
  
  .container-header .header button{
      width: 30%;
      height: 50px;
      font-size: 15px;
  }
  .container_menu{
    background-image: url(img/top-6-programming-languages-for-custom-software-development_1.png);
    text-align: center;
    object-fit:contain;
    height: 500px;
}
.menu img{
  margin-left: 0;
}
.menu h1{
    font-size: 30px;
   margin-left: 0;
  }
  .menu p{
    padding: 10px;
    margin-left: 0;
  }
  .menu button{
    width: 30%;
    height: 65px;
    border-radius: 10px;
    background-color: black;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px;
    margin-left: 0;
  }

  
  .container_main{
    width: 100%;
    height: 1200px;
    background-color: #FFFFFF;
    padding: 100px;
  }
  .main{
    background-color: #FAFAFB;
    border-radius: 10px;
    height: 1350px;
    padding: 20px;
  }
  .main .main_h1{
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  .main .pera_1{
    padding: 13px;
    font-weight: 500;
    font-size: 20px;
    font-family:  "Azeret Mono", monospace;
  }

  .main_div{
    box-shadow: 0px 2px 2px rgb(218, 218, 218);
    background: #FFFFFF;
    width: 95%;
    height: 330px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
  }
  
  
  
.div button{
  width: 30%;
  height: 30px;
  margin-top: 15%;
  font-size: 15px;
}
.div img{
  float: right;
  width: 30%;
}

.container_Youtub{
  width: 100%;
  top: 0;
 }
 .menu{
   padding: 10px;
 }
 .youtub_main{
  box-shadow: 0px 1px 1px rgb(42, 42, 42);
  border: 1px solid #524e4e;
  border-radius: 15px;
 }

 .youtub_main iframe{
   height: 500px;
 }
 
 .main_2{
  margin-top: 30%;
  padding-top: 30px;
 
}
.main_2 h1{
  font-size: 40px;
}

.container_h3 {
   padding-top: 100px;
}


.container_card{
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 20px;
}
.container_card p{
  font-size: 16px;
}
 .card-1{
  width: 30%;
  background-color: #FFF6F4;
  padding: 30px;
  height: 300px;
  border-radius: 30px;
  margin-left: 5%;
}

.card-1 a{
  color: black;
  font-weight: 900;
  font-size: 20px;
  padding-top: 90px;
}
.card-2{
  width: 30%;
  padding: 30px;

}

.card-3{
  width: 30%;
  background-color: #FFFDF2;
  padding: 30px;
  height: 300px;
  border-radius: 30px;
}

.container_react{
  width: 100%;
  height: 900px;
  padding: 100px;
  
}
.react_div{
  margin: 10px;
  padding: 15px;
  box-shadow: 0px 5px 5px rgb(218, 218, 218);
  border-radius: 20px;
  border: 1.0px solid #767676;
}

  .need input {
    min-width: 70%;
  
  }
  }
  